.menu-item {
  align-items: center;
  gap: 8px;
  position: relative;
}

.menu-item .icon-jam-icons-instance {
  left: unset !important;
  position: relative !important;
  top: unset !important;
}

.menu-item .div {
  color: var(--coolgray-90);
  font-family: var(--other-menu-m-font-family);
  font-size: var(--other-menu-m-font-size);
  font-style: var(--other-menu-m-font-style);
  font-weight: var(--other-menu-m-font-weight);
  letter-spacing: var(--other-menu-m-letter-spacing);
  line-height: var(--other-menu-m-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.menu-item .text-wrapper-2 {
  color: var(--coolgray-90);
  font-family: var(--other-menu-m-font-family);
  font-size: var(--other-menu-m-font-size);
  font-style: var(--other-menu-m-font-style);
  font-weight: var(--other-menu-m-font-weight);
  letter-spacing: var(--other-menu-m-letter-spacing);
  line-height: var(--other-menu-m-line-height);
  position: relative;
  white-space: nowrap;
}

.menu-item .badge-instance {
  flex: 0 0 auto !important;
}

.menu-item.horizontal {
  display: inline-flex;
}

.menu-item.active-true {
  background-color: var(--coolgray-10);
}

.menu-item.vertical-true {
  flex-direction: column;
}

.menu-item.vertical {
  display: flex;
  width: 272px;
}

.menu-item.vertical-false {
  padding: 12px 8px;
}

.menu-item.vertical .text-wrapper-2 {
  flex: 1;
}

.menu-item.horizontal .text-wrapper-2 {
  width: fit-content;
}
