.badge {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.badge .badge-dot {
  height: 8px;
  position: relative;
  width: 8px;
}

.badge .dot {
  background-color: var(--coolgray-30);
  border-radius: 3px;
  height: 6px;
  left: 1px;
  position: relative;
  top: 1px;
  width: 6px;
}

.badge .text-2 {
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.badge .img {
  height: 16px;
  position: relative;
  width: 16px;
}

.badge.XXS {
  border-radius: 12px;
}

.badge.XS {
  border-radius: 10px;
}

.badge.default {
  background-color: var(--coolgray-10);
}

.badge.notifications {
  background-color: var(--coolgray-60);
}

.badge.s {
  border-radius: 12px;
}

.badge.remove-button-true {
  gap: 2px;
}

.badge.XXS.notifications {
  padding: 0.5px 5.5px;
}

.badge.remove-button-true.s {
  padding: 2px 4px 2px 10px;
}

.badge.dot-true.remove-button-false {
  gap: 6px;
}

.badge.XS.remove-button-true {
  padding: 1px 2px 2px 8px;
}

.badge.XS.remove-button-false.dot-false {
  padding: 1px 10px 2px;
}

.badge.remove-button-false.notifications.dot-false {
  gap: 10px;
}

.badge.dot-true.remove-button-false.s {
  padding: 2px 12px 2px 8px;
}

.badge.dot-true.XS.remove-button-false {
  padding: 1px 10px 2px 6px;
}

.badge.remove-button-false.s.dot-false {
  padding: 2px 12px;
}

.badge.XXS .text-2 {
  font-family: var(--body-XS-font-family);
  font-size: var(--body-XS-font-size);
  font-style: var(--body-XS-font-style);
  font-weight: var(--body-XS-font-weight);
  letter-spacing: var(--body-XS-letter-spacing);
  line-height: var(--body-XS-line-height);
}

.badge.XS .text-2 {
  font-family: var(--body-XS-font-family);
  font-size: var(--body-XS-font-size);
  font-style: var(--body-XS-font-style);
  font-weight: var(--body-XS-font-weight);
  letter-spacing: var(--body-XS-letter-spacing);
  line-height: var(--body-XS-line-height);
}

.badge.default .text-2 {
  color: var(--coolgray-90);
  margin-top: -1px;
}

.badge.notifications .text-2 {
  color: var(--defaultwhite);
}

.badge.s .text-2 {
  font-family: var(--body-s-font-family);
  font-size: var(--body-s-font-size);
  font-style: var(--body-s-font-style);
  font-weight: var(--body-s-font-weight);
  letter-spacing: var(--body-s-letter-spacing);
  line-height: var(--body-s-line-height);
}
